<a href="https://colab.research.google.com/github/oceanfishYU/Python_practise/blob/main/%E5%88%97%E8%A1%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#大標題:2022/2/23作業
##小標題:colab流程
\#可用來製作標題，大標題是用1個#，小標題是用2個#

##流程

In [ ]:
a = [3,5,0]

a列表內有3、5、0 三個int

In [ ]:
a

[3, 5, 0]

印出a列表([3, 5, 0])

In [ ]:
a = [2, 3, 8]
a列表內有2、3、8 三個int(如果先執行第一個程式的話，原本的a會被蓋過去)

列表內有2、3、8 三個int(如果先執行第一個程式的話，原本的a會被蓋過去)

In [ ]:
a

[2, 3, 8]

印出a列表([2, 3, 8])

In [ ]:
a

[2, 3, 8]

這裡是我們前一個執行第1個程式(a = [3, 5, 0]這個)，此時在印出的是[3, 5, 0]而不是[2,3,8]，因為不是照順序看下來，而是看你最後一個執行的是哪一個(第1或第3)而去決定a的內容

##製作列表

In [ ]:
mylist = 'orange,apple,banana'.split(',')

orange,apple,banana原本是字串，但我使用split並指定遇到','就切割(如果沒指定的話預設就是空白)，所以mylist會變成['orange', 'apple', 'banana']

In [ ]:
mylist

['orange', 'apple', 'banana']

印出mylist

In [ ]:
mylist = '''orange
apple
banana'''.split('\n')

如果我想要在字串中間換行並切割的話就要使用三個'(''')，這樣就可以中間換行，只有1個不行。 這次切割指定'\n'是遇到換行就切割。這個程式印出結果會跟[11]的程式一樣

In [ ]:
alist=list('abcde')

list會把字串一個一個分割成列表

In [ ]:
alist

['a', 'b', 'c', 'd', 'e']

印出alist

##列表新增

##append和extend

In [ ]:
list0 = ['a', 'b', 'c']
list1 = ['a', 'b', 'c']
print(len(list0))
print(len(list1))

3
3

In [ ]:
list0.append(['d','e'])
print(len(list0))

4

使用append讓['d','e']列表新增到list0，list0= ['a', 'b', 'c', ['d', 'e']]，用append的話['d','e']會被包在一起(如果算list0的長度的話只會增加1)

In [ ]:
list0

['a', 'b', 'c', ['d', 'e']]

印出list0

In [ ]:
list1.extend(['d','e'])
print(len(list1))

5

使用extend讓['d','e']列表新增到list1，list1= ['a', 'b', 'c', 'd', 'e']，用extend的話['d','e']會被分割成兩個(如果算list1的長度的話會增加2)

In [ ]:
list1

['a', 'b', 'c', 'd', 'e']

印出list1

## 使用insert新增

In [ ]:
list1= ['orange', 'apple', 'banana']
list2= ['orange', 'apple', 'banana']
list3= ['orange', 'apple', 'banana']

In [ ]:
list1.insert(2,'tomato')
list1

['orange', 'tomato', 'apple', 'banana']

使用insert函數把'tomato'新增到list1的2的位置(列表從左到右是從0開始，所以就是原本列表最後一個位置，'banana'往後移)

In [ ]:
list2.insert(-1,'tomato')
list2

['orange', 'apple', 'tomato', 'tomato', 'banana']

使用insert函數把'tomato'新增到list2的-1的位置(列表從右到左是從-1開始，是倒數的概念，所以就是原本列表最後一個位置，倒數最後一個，'banana'往後移)

In [ ]:
list3.insert(7,'tomato')
list3

['orange', 'apple', 'banana', 'tomato']

使用insert函數把'tomato'新增到list2的7的位置，因為原本列表只有到2，沒有7所以就新增到新列表的最後面

##列表

###列表讀取

a:b:c的意思是從a開始到b(不包含b)，每次增加c個(沒有寫就是預設1)

In [ ]:
list1 = ['1','2','3','4','5']
list1

['1', '2', '3', '4', '5']

In [ ]:
list1[:2]
#列出第0個到第2個(不包含2)

['1', '2']

In [ ]:
list1[::2]
#從頭列到尾，間隔2個

['1', '3', '5']

In [ ]:
list1[::-1]

['5', '4', '3', '2', '1']

從倒數第1個(最後一個)，由右至左列出來

In [ ]:
list1[-1:0:-1]

['5', '4', '3', '2']

從倒數第1個(最後一個)，到第0個(不包含第0個)，並且由右至左列出來

###列表刪除

In [ ]:
list1 = ['1','2','3','4','5','6']
list1

['1', '2', '3', '4', '5', '6']

In [ ]:
del list1[:4] #del不是列表專用的函數
list1

['5', '6']

使用del函數把從0到4(不包含4)的內容刪除，del是找列表的位置刪除。

In [ ]:
list1.remove('3')
list1

['1', '2', '4', '5', '6']

使用remove函數刪除內容是3的，remove是找列表的內容刪除。

#**0302作業**

##列表的位置

In [ ]:
alist = [1,2,3,4,5,2]
blist = [1,2,3]

In [ ]:
num = int(input('請輸入一個數字:'))
if num in alist:
  print(alist.index(num)) #index是找特定內容在列表中的哪個位置，並且只會列出第一個出現的位置

請輸入一個數字:2
1

請輸入一個num(整數)，如果num在alist內的話=>印出num是在alist的哪個位置

##列表的個數

In [ ]:
print(len(alist))
print(alist.count(2))

6
2

一、印出alist的長度是多少(有多少內容物) 二、印出alist裡面有幾個2(整數)

In [ ]:
num = int(input('請輸入一個數字:'))
if alist.count(num) != 0:
  print(alist.index(num))

請輸入一個數字:3
2

請輸入一個num(整數)，如果alist內有不等於0個num(num存在於alist內)的話就繼續執行=>印出num是在alist的哪個位置

##列表的順序

In [ ]:
list1 = [2,3,1,5,7]

In [ ]:
list2 = sorted(list1)
print(list2)
print(list1)

[1, 2, 3, 5, 7]
[2, 3, 1, 5, 7]

令list2=排序過的list1，印出list2。 sorted函數只會回傳排序後的結果，並不會直接改變原本列表的順序，且並不是列表專用函數

In [ ]:
list1.sort()
print(list1)

[1, 2, 3, 5, 7]

sort函數是列表的函數，並且會直接改變列表的順序

##列表轉為字串

In [ ]:
mylist = 'orange,apple,banana'.split(',')
print(mylist)

['orange', 'apple', 'banana']

In [ ]:
'與'.join(mylist)

'orange與apple與banana'

使用join函數把列表轉為字串，以'與'當作間隔

##列表的加減乘除

In [ ]:
list1 = ['A', 'B', 'C']
list2 = ['D', 'E', 'F']

In [ ]:
list1 + list2

['A', 'B', 'C', 'D', 'E', 'F']

列表相加會像字串相加一樣直接串在一起

In [ ]:
#list1-list2

列表不能減

In [ ]:
list1*3

['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']

列表乘以3，就會=列表內容重複出現3次

In [ ]:
#list/3

列表不能除